.coin-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.coin, .coin-row {
  display: flex;
  align-items: center;
}

.coin-row {
  flex-direction: row;
  justify-content: start;
  height: 65px;
  border: 1px solid rgba(82, 82, 82, 0.3098039216);
  border-radius: 15px;
  width: 1000px;
  padding: 0 20px 0 20px;
  box-shadow: 8px 8px 23px -17px #42445a;
}

.coin {
  padding-right: 24px;
  min-width: 300px;
  
}

.coin h1 {
  font-size: 14px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
  
}

.coin-price {
  width: 8rem;
  text-align: start;
}
/* 
.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 260px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #00ff00;
} */